{% extends 'nav.html' %}

{% load static %}

{%block content%}

    <h1>Blogs</h1>
    <div class="div-blogs">
      {% for blog in blogs %}
      {% if blog.photo %}
        <img src="{{blog.photo.url}}" >
      {% else %}
        <p>No image available</p>
      {%endif%}

        <div class="div-blog">
          <h2><a href="{% url 'blog-detail' blog.pk %}">{{ blog.title }}</a></h2>
          <p>{{ blog.content }}</p>
        </div>
      {% endfor %}
    </div>

  <h1>Recetas</h1>
  <div class="div-blogs">
    {% for receta in recetas %}
    {% if receta.photo %}
      <img class="foto-publicaciones" src="{{receta.photo.url}}" >
    {% else %}
      <p>No image available</p>
    {%endif%}
      <div class="div-blog">
        <h2><a href="{% url 'receta-detail' receta.pk %}">{{ receta.nombre }}</a></h2>
        <p>{{ receta.categoria }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock%}
    

