<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Registro</title>

        <link href="{% static 'css/registro.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="div-body">
            <h1>Registro</h1>
        
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" autocomplete="off" required><br>
                </div>
                
                <div>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email"  autocomplete="email" required><br>
                </div>
                
                
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br>
                </div>
                
                <input type="submit" value="Registrar">
            </form>
        </div>
        
        
    </body>
</html>

<script>
    //desactove autocomplete
    document.getElementById('username').addEventListener('focus', function() {
        this.removeAttribute('autocomplete');
    });
    document.getElementById('password').addEventListener('focus', function() {
        this.removeAttribute('autocomplete');
    });
</script>