<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="off" required><br>
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"  autocomplete="email" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <input type="submit" value="Register">
    </form>
    
</body>
</html>
<script>
    //desactove autocomplete
    document.getElementById('username').addEventListener('focus', function() {
        this.removeAttribute('autocomplete');
    });
    document.getElementById('password').addEventListener('focus', function() {
        this.removeAttribute('autocomplete');
    });
</script>