@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

html{
    font-family: 'Kanit', sans-serif;
}

a{
    text-decoration: none;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.foto-publicaciones{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}