section h1{
    text-align: center;
}

.div-blogs{
    display: flex;
    flex-direction: column;

    width: 40rem;
}

.div-blogs2{
    width: 60rem;
}

.div-blog2{
    border-bottom: 4px solid rgba(190,179,163,255);
}

.div-blog a{
    font-size: 1.7rem;
    color: black;
}

.div-blog p{
    font-size: 1.4rem;
    font-weight: 300;
}

.foto-detalles{
    width: 42rem;
    height: 32rem;
    object-fit: cover;
}

.division-blog{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3rem;
}

.div-opciones-blog{
    display: flex;
    flex-direction: column;
}

.div-opciones-blog a{
    color: black;
    font-size: 1.5rem;
}

.paginacion ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.pagination li{
    padding: .8rem;
    border: 1px solid black;
}

.pagination li:first-of-type{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination li:last-of-type{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
