body{
    margin: 5rem 0;
    
}

textarea{
    height: 13rem;
}

select{
    width: 18rem;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid black;
}

button{
    margin-bottom: 2rem;
}