{% extends 'nav.html' %}

{% load static %}

{% block content %}

<div class="contenido-detalles-receta">
  <div class="opciones-recetas">
    {% if request.user.is_authenticated %}
      {% if receta.author.id == request.user.id %}
        <a href="{% url 'receta-update' receta.id %}"> Editar receta </a>
        <br>
        <a href="{% url 'receta-delete' receta.id %}"> Eliminar receta </a>

      {% endif %}
    {% endif %}
  </div>
  

  <div class="detalles-recetas">
    <h1>{{ receta.nombre }}</h1>
    <p>Publicado por {{ receta.author }} on {{ receta.created_date }}</p>
    <p>Categoria {{ receta.categoria }}</p>
    <p>Tiempo {{ receta.tiempo }}</p>
    <p>Dificultad {{ receta.dificultad }}</p>
    <p>Porciones: {{ receta.porciones }}</p>
    <p>Ingredientes </p>
    <p>{{ receta.ingredientes }}</p>
    <p>Pasos </p>
    <p>{{ receta.pasos }}</p>

    {% if receta.photo %}
      <img src="{{receta.photo.url}}" >
    {% else %}
      <p>No image available</p>
    {%endif%}
  </div>
</div>



<a href="{% url 'recetas-list'  %}"> Volver  </a>


{% endblock %}