<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Crear nuevo blog</title>

        <link href="{% static 'css/create.css' %}" rel="stylesheet">
    </head>

    <body>
        <h1>Nuevo Blog</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            {% if blog.photo %}
                <img src="{{ form.instance.photo.url }}" alt="Image">
            {% else %}
                <p>No image available</p>
            {%endif%}
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>

<script>
    div = document.querySelector("body > form > div:nth-child(4)")
    if(div){
        div.removeChild(div.firstChild);
        div.removeChild(div.firstChild);
        div.removeChild(div.firstChild);
        div.removeChild(div.firstChild);
    }

</script>