{% extends 'nav.html' %}

{% load static %}

{% block content %}

<div class="contenido-detalles-receta">
  <div class="opciones-recetas">
    {% if request.user.is_authenticated %}
      {% if blog.author.id == request.user.id %}
      <a href="{% url 'blog-update' blog.id %}"> Editar blog </a>
      <br>
      <a href="{% url 'blog-delete' blog.id %}"> Eliminar blog </a>
      <a href="{% url 'blog-list'  %}"> Volver  </a>
      {% endif %}
    {% endif %}

  </div>
  

  <div class="detalles-recetas">
    <h1>{{ blog.title }}</h1>
    <p>Publicado por {{ blog.author }} on {{ blog.created_date }}</p>
    


    {% if blog.photo %}
      <img class="foto-detalles" src="{{blog.photo.url}}" >
    {% else %}
      <p>No image available</p>
    {%endif%}

    <p>{{ blog.content }}</p>
  </div>
</div>


{% endblock %}